<div class="green">
<h1>
  User Details
</h1>

<div>
  <form action="">
    <input type="text" name="name" class="formStyle"  placeholder="Name" required  #name/>
    <input type="email" name="email" class="formStyle" placeholder="Email" required #email/>
    <input type="username" name="username" class="formStyle" placeholder="username" required #username/>
    <input type="reset" class="formButton" (click)="onAddUser(name.value,email.value,username.value)" value="Add User">
    <!-- <a href="#" class="formButton" (click)="onAddUser(name.value,email.value,username.value)">Add User</a> -->
  </form>
</div>
</div>